.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 100px 45px;
}
.cell {
    width: 450px;
    height: 900px;
    background-color: #F4ECE9;
    color: #4C4244;
    border-radius: 20px;
    text-align: center;
}
.image {
    max-width: 450px;
    border-radius: 20px;
}
.name{
    font-size: 32px;
}
.text{
    font-size: 24px;
}
.wrapper{
    display: flex;
    width: 100%;
    padding: 111px 240px 582px 240px;
    align-items: center;
}